.About
    background: #dddddd
    overflow-x: hidden
    margin: 0
    &-container
        width: 100vw
        height: 100vh
    &-MyPhoto
        margin-left: 10vw
        margin-top: 5vh
        width: 30vw
        height: auto
    &-main
        text-align: center
    & h2
        text-align: center
        font-size: 4em
        margin-top: 5vh
    &-Allinfo
        opacity: 75%
        & h5
            font-size: 2em


@media only screen and (max-width: 960px)
    .About
        &-container
            width: 100vw
            max-height: 100vh
        &-MyPhoto
            height: 40vw
            width: auto
            margin: 4vw
        &-main
            text-align: center
            margin-top: 5vh
        & h2
            text-align: center
            font-size: 2em
        &-second
            font-size: 1em
            opacity: 75%
            width: 90%
            margin: 2vw
